:root {
  --blue: #4e73df;
  --green: #1cc88a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}
#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}
.wrapper{
  width: 100%;
  max-width: 1366px;
  margin: auto;
}
.row:after, .row::before{
  content: "";
  display: table; /*sepasang dengan box-sizing*/
}
.row::after{
  clear: both;
}

[class*="col-"]{
  float: left;
  width: 100%;
}

@media screen and (min-width: 320px){   /*media berguna untuk layar yang kecil */
  .col-sm-1 {width:8.33%;}
  .col-sm-2 {width:16.66%}
  .col-sm-3 {width:25%;}
  .col-sm-4 {width:33.3%;}
  .col-sm-5 {width:41.66%;}
  .col-sm-6 {width:50%;}
  .col-sm-7 {width:58.33%;}
  .col-sm-8 {width:66.66%;}
  .col-sm-9 {width:75%;}
  .col-sm-10 {width:83.33%;}
  .col-sm-11 {width:91.6%;}
  .col-sm-12 {width:100%;}
}  
@media screen and (min-width: 640px){/*media berguna untuk layar yang medium*/
  .col-md-1 {width:8.33%;}
  .col-md-2 {width:16.66%}
  .col-md-3 {width:25%;}
  .col-md-4 {width:33.3%;}
  .col-md-5 {width:41.66%;}
  .col-md-6 {width:50%;}
  .col-md-7 {width:58.33%;}
  .col-md-8 {width:66.66%;}
  .col-md-9 {width:75%;}
  .col-md-10 {width:83.33%;}
  .col-md-11 {width:91.6%;}
  .col-md-12 {width:100%;}

} 
@media screen and (min-width: 960px){/*media berguna untuk layar yang besar*/
  .col-lg-1 {width:8.33%;}
  .col-lg-2 {width:16.66%}
  .col-lg-3 {width:25%;}
  .col-lg-4 {width:33.3%;}
  .col-lg-5 {width:41.66%;}
  .col-lg-6 {width:50%;}
  .col-lg-7 {width:58.33%;}
  .col-lg-8 {width:66.66%;}
  .col-lg-9 {width:75%;}
  .col-lg-10 {width:83.33%;}
  .col-lg-11 {width:91.6%;}
  .col-lg-12 {width:100%;}
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #4e73df;
  text-decoration: none;
  background-color: transparent;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.side-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}


.navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .side-nav {
  flex-direction: row;
}


.border-0 {
  border: 0 !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.mr-2{
  margin-right :.5rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.text-center {
  text-align: center !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}

.container,
.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.bg-utama {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}


.rotate-n-15 {
  transform: rotate(-15deg);
}

.topbar .nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
}

.topbar {
  height: 4.375rem;
}


.topbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}

.topbar .nav-item .nav-link {
  height: 4.375rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.sidebar {
  width: 6.5rem;
  min-height: 100vh;
}

.sidebar .nav-item {
  position: relative;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 6.5rem;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 700;
}


.sidebar #sidebarToggle {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sidebar #sidebarToggle::after {
  font-weight: 900;
  content: '\f104';
  font-family: 'Font Awesome 5 Free';
  margin-right: 0.1rem;
}

.sidebar #sidebarToggle:hover {
  text-decoration: none;
}

.sidebar #sidebarToggle:focus {
  outline: none;
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

.sidebar.toggled #sidebarToggle::after {
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  margin-left: 0.25rem;
}

.sidebar .sidebar-judul {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  z-index: 1;
}

.sidebar .sidebar-judul .sidebar-icon i {
  font-size: 2rem;
}

.sidebar .sidebar-judul .judul {
  display: none;
}

.sidebar hr.garis-h {
  margin: 0 1rem 1rem;
}

.sidebar .sub-judul {
  text-align: center;
  padding: 0 1rem;
  font-weight: 800;
  font-size: 0.65rem;
}

@media (min-width: 768px) {
  .sidebar {
    width: 14rem !important;
  }
  .sidebar .nav-item .collapse {
    position: relative;
    left: 0;
    z-index: 1;
    top: 0;
    -webkit-animation: none;
    animation: none;
  }
  .sidebar .nav-item .collapse .collapse-inner {
    border-radius: 0;
    box-shadow: none;
  }
  .sidebar .nav-item .collapsing {
    display: block;
    transition: height 0.15s ease;
  }
  .sidebar .nav-item .collapse,
  .sidebar .nav-item .collapsing {
    margin: 0 1rem;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
  }
  .sidebar .nav-item .nav-link i {
    font-size: 0.85rem;
    margin-right: 0.25rem;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 0.85rem;
    display: inline;
  }
  
  .sidebar .sidebar-judul .sidebar-icon i {
    font-size: 2rem;
  }
  .sidebar .sidebar-judul .judul {
    display: inline;
  }
  .sidebar .sub-judul {
    text-align: left;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 6.5rem !important;
  }
  
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 6.5rem;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .nav-link i {
    margin-right: 0;
  }
  .sidebar.toggled .nav-item .nav-link[data-toggle="collapse"]::after {
    display: none;
  }
  .sidebar.toggled .sidebar-judul .sidebar-icon i {
    font-size: 2rem;
  }
  .sidebar.toggled .sidebar-judul .judul {
    display: none;
  }
  .sidebar.toggled .sub-judul {
    text-align: center;
  }
}

.sidebar-light #sidebarToggle::after {
  color: #b7b9cc;
}

.sidebar-light #sidebarToggle:hover {
  background-color: #dddfeb;
}

.sidebar-gelap .sidebar-judul {
  color: #fff;
}

.sidebar-gelap hr.garis-h {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar-gelap .sub-judul {
  color: rgba(255, 255, 255, 0.4);
}

.sidebar-gelap .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.sidebar-gelap .nav-item .nav-link i {
  color: rgba(255, 255, 255, 0.3);
}

.sidebar-gelap #sidebarToggle {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-gelap #sidebarToggle::after {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar-gelap #sidebarToggle:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.sidebar-gelap.toggled #sidebarToggle::after {
  color: rgba(255, 255, 255, 0.5);
}

.btn-circle {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-circle.btn-sm{
  height: 1.8rem;
  width: 1.8rem;
  font-size: 0.75rem;
}

.btn-circle.btn-lg{
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.35rem;
}
.topbar #sidebarToggleTop {
  height: 2.5rem;
  width: 2.5rem;
  display: none;
}
@media(max-width: 768px){
  .topbar #sidebarToggleTop {
    display: block;
  }
}
.topbar #sidebarToggleTop:hover {
  background-color: #eaecf4;
}

.topbar #sidebarToggleTop:active {
  background-color: #dddfeb;
}
.btn-link {
  font-weight: 400;
  color: #4e73df;
  text-decoration: none;
}
.btntop{
  border:none;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.btntop .fa-bars{
  font-size: 1.2em;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.navbar-nav {
 display: flex;
 padding-left: 0;
 margin-bottom: 0;
 list-style: none;
}
.topbar .nav-item  {
  height: 4.375rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.topbar .nav-item .img-profile {
  height: 2rem;
  width: 2rem;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  margin:10px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.col-auto {
 flex: 0 0 auto; 
 width: auto; 
 max-width: 100%; 
}
.row-card {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.text-gray-300 {
  color: #dddfeb !important;
}
.fa-2x {
  font-size: 2em;
}
.text-primary {
  color: #4e73df !important;
}
.text-success {
  color: #1cc88a !important;
}
.text-warning {
  color: #f6c23e !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
  border-radius: 5px;
}
.border-left-success{
  border-left: 0.25rem solid #1cc88a !important;
  border-radius: 5px;
}
.border-left-warning{
  border-left: 0.25rem solid #f6c23e !important;
  border-radius: 5px;
}
.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
.judul-dashboard{
  margin-left:.5rem;
}

.admin-pembuka h1 {
  font-size: 5em;
  font-family: 'Lobster Two', cursive;
  margin-top: 7rem;
}
/*------------------footer-----------------------*/
footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
}
.bg-white {
  background-color: #fff !important;
}
.container, .container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.my-auto {
  margin-bottom: auto !important;
}
footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}
.text-center {
  text-align: center !important;
}
table tbody tr td {
  text-align: center;
}
.t-scale button{
  border-radius: 20px;
  margin-right: .5rem;
  transition: .5s ease-in-out;
}
.t-scale button:hover {
  transform: scale(1.08);
}
.active, .active .nav-link i.fas{
  color: #ffff;
}
.btn-success{
  background:#1cc88a !important;
  border:none !important;
}

.tabel{
  color: #444;
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #f2f5f7;
}
.tabel tr th{
  background: var(--blue);
  color: #fff;
  font-weight: normal;
}
.table, th, td{
  padding: 8px 20px;
  text-align: center;
  border:1px solid #ddd;

}
.container{
  padding: 3em 1rem;
}
.btn{
  display: inline-block;
  font-weight: 400;
  color: #858796;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary{
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}
.btn-danger{
  color: #fff;
  background-color: #e74a3b;
  border-color: #e74a3b;
}
.btn-success{
  color: #fff;
  background-color: #1cc88a;
  border-color: #1cc88a;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}
.text-primary {
    color: #4e73df !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}
.m-0 {
    margin: 0 !important;
}
h6, .h6 {
    font-size: 1rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
